/2012-11-05-corn-futures.csv
/2012-11-05-crude-oil-futures.csv
/2012-11-05-e-mini-s-p-futures.csv
/2012-11-05-euro-fx-futures.csv
/2012-11-05-eurodollar-futures.csv
/2012-11-05-gold-futures.csv
/XCBT_C_FUT_110110.zip
/XCME_EC_FUT_110110.zip
/XCME_ED_FUT_110110.zip
/XCME_ES_FUT_110110.zip
/XNYM_CL_FUT_110110.zip
/XNYM_GC_FUT_110110.zip
/XCBT_C_FUT_110110.TXT
/XCME_EC_FUT_110110.TXT
/XCME_ED_FUT_110110.TXT
/XCME_ES_FUT_110110.TXT
/XNYM_CL_FUT_110110.TXT
/XNYM_GC_FUT_110110.TXT
